<%-include("partials/admin/header")%>
<style>
    .btn {
    background-color: #524b4b;
    color: #ffffff;
    border: 1px solid #3a3a3a;
    }

    .btn:hover {
        background-color: #dc0808;
        border-color: #b20000;
        color: #ffffff;
    }
</style>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
        </div>
       
    </div>
</section>
<%-include("partials/admin/footer")%>
